%table.condensed-table
  %thead
    %tr
      %th= t ".id"
      %th= t ".status"
      %th= t ".tags"
  %tbody
    - entities.each do |entity|
      %tr
        %td= entity.osm_id
        %td
          = status_label(entity)
        %td= entity.tags_string
