%h2= t ".title", :name => @project.title

.tasks
  = link_to (t ".edit"), edit_project_path(@project)

%p= t ".currently_loaded"
%ul
  %li= t ".number_of_nodes", :count => @node_count
  %li= t ".number_of_ways", :count => @way_count
  %li= t ".number_of_relations", :count => @rel_count

%p= t ".only_tagged"
%ul
  %li= link_to (t ".number_of_nodes", :count => @tagged_node_count), tagged_nodes_project_path(@project)
  %li= link_to (t ".number_of_ways", :count => @tagged_way_count), tagged_ways_project_path(@project)
  %li= link_to (t ".number_of_relations", :count => @tagged_rel_count), tagged_relations_project_path(@project)

%p= t ".looking_at_status"
%ul
  %li= t ".percentage_nodes", :count => @percentage_nodes
  %li= t ".percentage_ways", :count => @percentage_ways
  %li= t ".percentage_relations", :count => @percentage_rels
