%table{:class => "entities"}
  %thead
    %th= t ".id"
    %th= t ".status"
    %th= t ".tags"
  %tbody
  - entities.each do |entity|
    %tr
      %td= entity.id
      - if entity.status? && (entity.status != default)
        %td{:class => "changed"}
          = entity.status
      - else
        %td{:class => "default"}
          = default
      %td= entity.tags_string
