%h1
  = t ".welcome"
  %small= t ".slogan"

%p= t ".introduction"

- if Admin.count == 0
  %section
    .page-header
      %h2
        = t ".admin_account"
        %small= t ".make_life_easier"
    .row
      .span4
        %p= t ".admin_explanation"
      .span12
        %p= t ".launch_rails_console"
        %pre= "bundle exec rails console"
        %p= t ".run_these_commands"
        %pre= "admin = Admin.new\nadmin.email = \"openstreetmap@example.com\"\nadmin.password = \"example123\"\nadmin.save!"
        %p= t ".then_log_in"

%section
  .page-header
    %h2
      = t ".current_projects"
      %small= t ".where_the_action"
  .row
    .span8
      - if @projects.empty?
        %p= t ".no_projects"
      - else
        %p= t ".currently_hosted", :count => Project.count
        %ul
          - @projects.each do |project|
            %li= link_to project.title, project
        %p= link_to t(".more"), projects_path

    .span4
      - if current_admin
        %p= link_to t(".create_new_project"), new_project_path
      - else
        %p= t ".to_create_new_project"
      %p= link_to t(".all_projects"), projects_path
