!!!
%html
  %head
    %title= t ".title"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    .container
      %h1= link_to t(".title"), root_path
      - if current_admin
        %p= link_to t(".sign_out"), destroy_admin_session_path, method: "delete"
      - else
        %p= link_to t(".sign_in"), new_admin_session_path
      .flash-container
        - [:alert, :notice].each do |type|
          - if flash.key? type
            .flash{class: type}
              = flash[type]
      = yield
