!!!
%html
  %head
    %title= t ".title"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    .container
      %h1= link_to t(".title"), root_path
      = yield
